::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    border-radius: 40px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  } 
  /* Make the body cover the entire viewport */
body {
    margin: 0;
  }
  
  /* Style for the dot */
  .cursor-dot {
    position: fixed;
    top: 0;
    left: 0;
    width: 10px; /* Adjust size of the dot */
    height: 10px;
    background-color: #ff8c00; /* Dot color */
    border-radius: 50%;
    pointer-events: none; /* Makes the dot not interactable */
    transition: transform 0.1s ease;
  }
  
  html {
  scroll-behavior: smooth;
}


